config core 'main'
	option profile 'auto'
	option expert_luci '1'
	option apps '1'
	option app_feed_enabled '0'
	option firmware_channel_url ''
	option firmware_channel_sig_url ''
	option firmware_channel_pubkey ''
	option firmware_max_bytes '0'
	option firmware_auto_check '0'
	option firmware_auto_download '0'
	option firmware_auto_install '0'
	option telemetry '0'

config ui 'appearance'
	option theme 'coachassist'
	option density 'comfortable'
	option language 'auto'
